.system-section {
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  background-size: cover;
  background-color: #c9d4d4;
  background-position: center;
}

.system-body{
  max-height: 90vh;
  overflow-y: auto;
}

.box {
  width: 423px;
  height: 90px;
  background-color: #b0102d;
  color: white;
  clip-path: inset(0% 45% 0% 45% round 10px)
}


footer{
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  & *{
    color: #c9d5d6;
  }
  & h1{
    font-weight: lighter;
  }
}

.icon-tab{
  width: 100vw;
  color: #c9d5d6;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  & .icon-tab-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & i{
      font-size: 3rem;
    }
  }
}
.active {
  & *{
    color: #96989a !important;
  }
}

.notification{
 left: 11%;
 top: -23%
}
