button {
  background: #969799;

  color: #373435;

  border-radius: 50px;

  padding-top: 20px;
  padding-bottom: 20px;
  white-space: pre-wrap;
  width: 60vw;
  height: auto;
  font-size: larger;
  font-weight: bold;
  display: block;
  border: none;
}
