<section class="landing-section text-center">
  <div class="mb-5">
    <img src="https://via.placeholder.com/150" alt="">
  </div>

  <button class="access-button mb-5 mt-5" routerLink="/acesso/login">
    <div class="d-flex flex-column">
      <span>CONTRATAR UM</span>
      <span>DETETIVE</span>
    </div>
  </button>

  <button class="access-button mt-5" routerLink="/acesso/cadastro/detetive">
    <div class="d-flex flex-column">
      <span>SOU DETETIVE</span>
      <span>QUERO ME CADASTRAR</span>
    </div>
  </button>
</section>
