.login-section{

  & * {
    color: #a8abae;
  };
  & h1{
    font-weight: lighter;
  }

}

.input{
  background-color: transparent;
  border-radius: 50px;
  border-color: #8895af;
  color: #a8abae;
  width: 70vw;
  height: 60px;
  text-indent: 20px;
  border-style: solid;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & button{
    background-color: #969799;
    border: none;
    color: #373438 !important;
    height: 60px;
    font-size: larger;
    font-weight: bold;
  }
}

.ask-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & h1{
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  & hr{
    width: 50%;
    border: 0.5px solid white;
    opacity: 1;
    height: 0.5px !important;
    margin-top: 0;
  }
}
