<section class="p-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">INFORMAÇÕES</h1>
        <h4>DO SERVIÇO</h4>
      </div>
    </div>
  </div>

  <div class="solicitacao-card my-4 animate__animated animate__pulse" *ngIf="dados && !dados.detective">
    <div class="d-flex">
      <div class="img">
        <img [src]="'/assets/img/'+ dados['expand'].speciality.img +'.png'" alt="">
      </div>
      <div class="solicitacao-card-info">
        <h5 class="fw-bold">{{dados["expand"].speciality.label}}</h5>
        <b>Solicitação: </b>
        <span>{{data}}</span>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="dados && !dados.detective">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">STATUS</h1>
        <p>
          {{dados.message}}
        </p>
      </div>
      <div>
        <h5 class="fw-bold" *ngIf="dados.status >= 5">As informações estarão disponíveis no app pelo período de 7 dias.
          Logo após, todos os dados serão apagados.</h5>
      </div>
    </div>
  </div>

  <div class="grid" *ngIf="dados && dados.detective">
    <div class="col-12 md:col-6 xl:col-4 p-3">
        <div class="surface-card shadow-2 border-round p-4">
            <div class="flex border-bottom-1 surface-border pb-4">
                <img [src]="'https://oracle.garrysmod.com.br/http://65.21.248.242:2021/api/files/specialities/'+dados['expand'].speciality.id+'/'+dados['expand'].speciality.image | secure | async" style="width: 70px;height: 70px" alt="imagem" class="mr-3" />
                <div class="flex flex-column align-items-start">
                    <span class="text-xl text-900 font-medium mb-1">{{dados["expand"].detective.name}}</span>
                    <span class="text-600 font-medium mb-2">{{dados["expand"].speciality.label}}</span>
                    <!-- <span class="bg-blue-50 text-blue-400 border-round inline-flex py-1 px-2 text-sm">Editor</span> -->
                </div>
            </div>
            <div>
              <span class="text-600 font-medium mb-2">Detetive credenciado pelo conselho regional de detetives de MG</span>
            </div>
            <div class="flex justify-content-between pt-4">
                <button pButton pRipple label="Telefone" (click)="copyToClipBoard()" icon="pi pi-phone" class="p-button-outlined p-button-secondary w-6 mr-2"></button>
                <button pButton pRipple label="WhatsApp" (click)="openWhats()" icon="pi pi-whatsapp" class="p-button-outlined p-button-secondary w-6 ml-2"></button>
            </div>
        </div>
    </div>
  </div>

  <div class="text-center my-4">
    <ul class="progress-">
      <li class="progress__item" *ngFor="let item of items"
        [class.progress__item--active]="item && item?.status === dados?.status">
        <p class="progress__title">{{item.label}}</p>
        <!-- <p class="progress__info">Completed</p> -->
      </li>
    </ul>
  </div>

  <div class="d-flex gap-3">
    <button class="p-button-rounded access-button w-100 my-5 fw-bold" (click)="visible = true">Ver detalhes do
      serviço</button>

    <button class="p-button-rounded access-button w-100 my-5 fw-bold" *ngIf="dados?.status == 4"
      (click)="retornoDiag = true">Ver detalhes do retorno</button>
  </div>

  <button class="p-button-rounded access-button w-100 my-3 fw-bold" *ngIf="dados?.status == 4"
    (click)="aprovar()">Aprovar investigação</button>

</section>

<p-dialog header="Detalhes" [style]="{'max-width': '100vw'}" [(visible)]="visible" [responsive]="true">
  <h3>Anexos</h3>
  <p-carousel *ngIf="dados?.anexos.length > 0" [value]="dados?.anexos">
    <ng-template let-image pTemplate="item">
      <img style="max-width: 270px;max-height: 400px;"
        [src]="'http://65.21.248.242:2021/api/files/requests/'+dados.id+'/'+image | secure | async" [alt]="'imagem'">
    </ng-template>
  </p-carousel>
  <p>Descrição da solicitação: </p>
  <p>{{dados?.relato}}</p>
</p-dialog>

<p-dialog header="Detalhes" [style]="{'max-width': '100vw'}" [(visible)]="retornoDiag" [responsive]="true">
  <h3>Anexos</h3>
  <p-carousel [value]="dados?.retorno">
    <ng-template let-image pTemplate="item">
      <img style="max-width: 270px;max-height: 400px;"
        [src]="'http://65.21.248.242:2021/api/files/requests/'+dados.id+'/'+image | secure | async" [alt]="'imagem'">
    </ng-template>
  </p-carousel>
  <p>Descrição do retorno: </p>
  <p>{{dados?.relatoDetetive}}</p>
</p-dialog>
